/* START global SECTION */

*, *::before, *::after {
    box-sizing: border-box;
}

:root {
    --clr-primary-300: rgb(249, 249, 249);
    --clr-primary-800: rgb(51, 51, 51,);
}

body, h1, h2, h3, p {
    margin: 0;
}

body {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: 400;
    font-size: 1.5rem;
    line-height: 1.6;
}

h1, h2, h3 {
    line-height: 1;
    font-weight: 900;
    margin-bottom: 1em;
    font-size: 2rem;
}

h2, h3, p {
    margin-bottom: 1em;
}

img {
    display: block;
    max-width: 100%;
}

.text-center {
    text-align: center;
}

.img-center img {
    display: block;
    margin: auto;
}

header {
    padding: 1rem 0;
}

@media (min-width: 40em) {
    header {
        padding: 1rem 0;
    }
}

.v-small-padding-on-edges, .v-small-padding-on-edges img {
    padding: 0 1em;
}

.small-padding-on-edges, .small-padding-on-edges img {
    padding: 0 2em;
}

.padding-on-edges, .padding-on-edges img{
    padding: 0 4em;
}
.large-padding-on-edges, .large-padding-on-edges img{
    padding: 0 6em;
}

@media (min-width: 40em) {
    .split {
        display: flex;
        gap: 1em;
    }
    .even-columns {
        display: flex;
        align-items: flex-start;
        gap: 1em;
        justify-content: center;
    }
    .hide-when-big {
        display: none;
    }
}

@media (max-width: 40em) {
    .hide-when-small {
        display: none;
    }
}

.even-columns > * {
    flex-basis: 100%;
}

.container {
    margin: 1em;
}

.indent {
    text-indent: 3em;
}

.flex {
    display: flex;
}

.thirtyleft {
    flex: 1 1 30%;
}
.seventyright {
    flex: 1 1 70%;
}
.fortyleft {
    flex: 1 1 40%;
}
.sixtyright {
    flex: 1 1 60%;
}

.fiftyfifty {
    flex: 1 1 50%;
}

/* END global SECTION */

/* START navbar SECTION */

header {
    background: rgb(51, 51, 51);
    width: 100%;
    font-size: 1.5rem;
    padding: 0;
    position: fixed;
    z-index: 1;
}

.navbar a {
    color: white;
    text-decoration: none;
    display: inline-block;
    padding: 0 0;
}

.navbar a:hover {
    color: rgb(249, 249, 249);
}

.navbar li {
    color: white;
}

.navbar-toggler-icon {
    color: white;
}


.topnav a:hover {
    font-weight: bold;
    text-decoration: underline;
    color: rgb(249, 249, 249);
}

nav ul {
    text-align: right;
    padding-right: .5em;
}
.navbar-brand h1 {
    color: white;
}

/* END navbar SECTION */


/* START intro SECTION */

.title {
    color: white;
    background-color: black;
    padding-top: 20px;
}

.title img {
    margin-top: 30px;
    padding-left: 0;
    max-width: 100%; 
    height: auto;
    min-width: 300px;
}

@media (min-width: 40em) {
    .main-title {
        font-size: 9vw;
        min-width: auto;
    }
    .main-subtitle {
        font-size: 1.8vw;
        padding-left: 5px;
        margin-top: -10px;
        margin-bottom: -15px;
    }
    .dev-title {
        font-size: 9vw;
        padding-top: 0px;

    }
}

@media (max-width: 40em) {
    .main-title {
        font-size: 3.5rem;
        min-width: auto;
    }
    .main-subtitle {
        font-size: 4vw;
        padding-left: 3px;
        margin-top: -10px;
        margin-bottom: -12px;
    }
    .dev-title {
        font-size: 3.5rem;
        padding-top: 0px;
        margin-bottom: 0;
    }
    .title-words {
        padding-left: 35px;
    }
}

.content-sidebar {
    display: flex;
    flex-wrap: wrap;
}

.title-words {
    padding-right: 0px;
}


/* End intro SECTION */

/* START portfolio SECTION */

.icon {
    max-width: 50%;
    padding: .2em;
}

  
.radio_mark {
color: black;
padding: 10px;
margin: 0 2em;
}

.radio_tabs input[type="radio"] {
opacity:0.011;
display: none;
}

.radio_tabs label {
cursor:pointer;
}





.desc { 
display: none; 
}

.lp.selected {
    border-bottom: 4px solid rgb(233, 82, 133);
    color: rgb(233, 82, 133);
    font-weight: bold;
}
.lp:hover {
    border-bottom: 6px solid rgb(233, 82, 133);
}
.lp-form {
    border-top: 2px solid rgb(233, 82, 133);
}
.mp.selected {
    border-bottom: 6px solid #67D9EE;
    color: #67D9EE;
    font-weight: bold;
}
.mp:hover {
    border-bottom: 6px solid #67D9EE;
}
.mp-form {
    border-top: 2px solid #67D9EE;
}
.fw.selected {
    border-bottom: 6px solid rgb(170, 170, 246);
    color: rgb(170, 170, 246);
    font-weight: bold;
}
.fw:hover {
    border-bottom: 6px solid rgb(170, 170, 246);
}
.fw-form {
    border-top: 2px solid rgb(170, 170, 246);
}

.project-links {
    display: inline-flex;
}

#projects, .project-brief {
    margin: 0 1em;
}
#projects {
    padding-top: 3em;
    padding-bottom: 1em;
}
#projects h1 {
    padding-bottom: .5em;
}

.holder {
    background-color: rgb(240, 240, 240);
    padding: 20px;
}

.overview {
    padding-top: 2em;
}

.table-like {
    display: table-row;
}

.table-like li {
    width: 100px;
    border: 1px solid black;
    display: table-cell;
}

.cell {
    min-height: 250px;
}


/* END portfolio SECTION */

/* START bio SECTION */

.slideshow {
    height: max-content;
    width: 100%;
    min-width: none;
}

#aboutme {
    padding-top: 3em;
    vertical-align: super;
    padding-bottom: 1em;
}
#aboutme h1 {
    padding-bottom: .5em;
}

.carousel-caption {
    opacity: 0;
}

.slideshow, .new-caption-area {
    margin: auto;
    color: #000;
  }
  
  .carousel-caption {
	color: #000;
}

@media (max-width: 80em) {
    .carousel-control-next, .carousel-control-prev {
    filter: invert(100%);
    }
}

.about-me, .journey {
    background-color: rgb(240, 240, 240);
    padding: 1em;
}
@media (min-width: 40em) {
}

/* END bio SECTION */

/* Start resume SECTION */

#resume {
    background-color: rgb(51, 51, 51);
    /* border: 1px solid black; */
    padding: 1.5rem 2rem;
    text-align: center;
    color: white;
    width: 100%;
  }
  #resume h2 {
    font-size: 2em;
  }
  .button {
    max-width: 100px;
  }
  .resume-button {
    border-radius: 40px;
    padding: 12px 16px;
    margin: 0 .2em;
    min-width: 6.5em;
    color:rgb(0, 0, 0)
  }
  .resume-button:hover {
    font-weight: bold;
    text-decoration: underline;
  }
  .resume-button a {
    color:rgb(0, 0, 0)
  }

/* END resume SECTION */

/* START roadmap SECTION */

.red {
    fill: #ff726f;
}
.green {
    fill: #90EE90;
}
.amber {
    fill: #ffbf00;
}
.blue {
    fill: #ADD8E6;
}
.dark-blue {
    color: #4176DD;
}
.chakra-container {
    padding: .5rem;
    margin: .5rem .5rem;
}
#knowledge h1 {
    padding-top: 3rem;
    padding-bottom: 1em;
}

/* Style the tab */
.tab {
  overflow: hidden;
  background-color: #f1f1f1;
}

/* Style the buttons inside the tab */
.tab button {
  background-color: inherit;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  font-size: 17px;
}

/* Change background color of buttons on hover */
.tab button:hover {
  background-color: #ddd;
}

/* Style the tab content */
.tabcontent {
  display: none;
  padding: 6px 12px;
  -webkit-animation: fadeEffect 1s;
  animation: fadeEffect 1s;
}

/* Fade in tabs */
@-webkit-keyframes fadeEffect {
  from {opacity: 0;}
  to {opacity: 1;}
}

@keyframes fadeEffect {
  from {opacity: 0;}
  to {opacity: 1;}
}

/* END roadmap SECTION */

/* START certs SECTION */

.gallery img{
    background-color: #fff;
    padding: 15px;
    width: 100%;
    box-shadow: 0 0 15px rgba(0,0,0,0.3);
    cursor: pointer;
    border: solid 2px #000;
  }

  .gallery {
    padding: 40px;
    text-align: center;
  }

  #myImg {
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
    min-width: 150px;
  }
  
  #myImg:hover {
    opacity: 0.7;
  }

  
  .col h3 {
      margin-top: 10px;
      margin-bottom: 10px;
  }
  
  .col p {
      margin-top: 5px;
      margin-bottom: 20px;
  }

  .large-page-functions .col {
    max-width: 20rem !important;
  }

  .modal {
    display: none;
    /* Hidden by default */
    position: fixed;
    /* Stay in place */
    z-index: 1;
    /* Sit on top */
    padding-top: 100px;
    /* Location of the box */
    left: 0;
    top: 0;
    width: 100%;
    /* Full width */
    height: 100%;
    /* Full height */
    overflow: auto;
    /* Enable scroll if needed */
    background-color: rgb(0, 0, 0);
    /* Fallback color */
    background-color: rgba(0, 0, 0, 0.9);
    /* Black w/ opacity */
  }
  
  .modal-content {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
  }
  
  #caption {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
    text-align: center;
    color: #ccc;
    padding: 10px 0;
    height: 150px;
  }
  
  .modal-content,
  #caption {
    animation-name: zoom;
    animation-duration: 0.6s;
  }
  
  @keyframes zoom {
    from {
      transform: scale(0)
    }
    to {
      transform: scale(1)
    }
  }
  
  .close {
    position: absolute;
    top: 15px;
    right: 35px;
    color: #f1f1f1 !important;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
  }
  
  .close:hover,
  .close:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
  }
  
  @media screen and (max-width: 40em) {
    .modal-content {
      width: 90%;
    }
    .row {
        display: grid;
        grid-template-columns: 1, 1fr;
    }   
  } 
  @media (min-width: 40em) {
    #bootcamp img {
        width: 60%;
    }
}

#certifications h1 {
    padding-top: 3rem;
    padding-bottom: 1em;
}

  

  /* these showmore are for mobile portfolio */

  .showmore {
    font-size: 1.1em;
    margin-top: 1.5em;
  }
  
  .showmore .more, .showmore.show .dots {
    display: none
  }
  
  .showmore.show .more {
    display: inline
  }
  
  .showmore a {
    cursor: pointer;
    display: block;
    margin-top: 0.5em;
    margin-bottom: 1em;
    font-weight: bold;
  }


  /* START footer SECTION */

  footer {
    background: rgba(51, 51, 51);
    padding: 0;
    padding-top: 20px;
    padding-bottom: 20px;
    text-align: center;
    z-index: 9987;
    width: 100%;
    position: absolute;
    overflow: hidden;
    display: block;
    color: white;
    font-size: small;
  }
  
  footer h3 {
    padding-bottom: 20px;
  }
  
  footer a {
    color: white;
    text-decoration: underline;
  }
  
  footer a:hover {
    color: white;
  }
  
  .footerSection {
    display: inline-block;
    max-width: 35%;
    padding-left: 5%;
    padding-right: 5%;
    padding-bottom: 10px;
    padding-top: 11px;
    vertical-align: middle;
  }